.footer-signature {
    background-color: white;
    width: 100vw;
    position: absolute;
    font-size: 14px;
}

.footer-signature ul {
    padding: 0px;
    margin: 0px;
    padding: 1rem;
    padding-top: 0px;
}

.footer-signature ul li {
    display: inline-block;
    width: 100%;
    color: #6c757d;
}

.footer-signature ul li a {
    color: #6c757d;
}

@media (min-width: 576px) { 
    .footer-signature ul li {
        display: inline-block;
        width: 50%;
    }
}

.footer-signature ul li ul {
    text-align: right;
    padding: 0px;
}

.footer-signature ul li ul li {
    width: auto;
    margin-left: 10px; 
}